.p-title{
    font-size: 21px;
    font-weight: bold;
    text-decoration: underline;
    padding: 1%;
}
.cen-txt{
    text-align: center;
}
.t-list{
    font-size: 20px;
}
.p-ri-tle{
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    padding: 1%;
    text-align: center;
}
#project_info{
    border: 1px solid black;
    padding: 1%;
    font-size: 16px;
}
#task_list_info{
    font-size: 16px;
}
#project_info, td{
    padding: 1rem;
}



